#heading{
    color: red;
}
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
    box-shadow: 0px 10px 15px #dedfe0;
    border-radius: 4px;
    position: sticky;
    top:0;
    z-index: 2;
}
.logo{
    width: 100px;
}
.nav-items{
    display: flex;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
    margin: 0px 32px
}
.nav-items > ul >li {
    display: flex;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.body{
    position: relative;
    margin:12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    margin:8px
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    width:90%;
    /* margin: 0 80px; */
    align-self: center;
    justify-self: center;
    justify-content: space-around;
}
.res-card{
    width: 280px;
    height: 360px;
    border-radius: 20px;
    margin:8px;
    cursor: pointer;
    position:relative;
    /* box-shadow: ; */
}

.shimmer{
    width: 280px;
    height: 360px;
    border-radius: 20px;
    margin:6px;
    cursor: pointer;
    position:relative;
    background-color: #f0f0f0;
}
.res-image{
    height:100%;
    border-radius: 20px;
    position:absolute;
    left:100
}

.res-details-bg{
    /* background-color: black; */
    background-image: linear-gradient(0deg, black, transparent);
    /* opacity: 0.5; */
}
.res-details{
    height:36%;
    border-radius: 0 0 20px 20px;
    width:100%;
    padding:8px;
    box-sizing: border-box;
    position:absolute;
    bottom: 0;
    z-index:1;
}

.login{
    margin:10px 40px 10px 10px;
    padding: 0 20px;
}
.contact{
    margin: 10px;
    padding: 20px;
    border: 1px solid #dedfe0;
    box-shadow: 12px 20px 15px #dedfe0;
    width: 40%;
    border-radius: 10px;
    display: flex;
}
.link{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.text-white{
    color:white;
}
.m-4{
    margin: 4px;
}
.mt-4{
    margin-top: 4;
}
.center{
    display: flex;
    justify-content: center;
}